</main>

<footer class="foot">
    <div class="footText">
        <p> Qui sommes-nous?</p>
        <a href="{{ path ('cgv') }}">CGV</a>
        <img src="{{ asset('assets/img/logo_1000.png') }}" alt="" class="logoFoot">
        <p> FAQ</p>
        <p> Contact</p>
    </div>
</footer>
</body>
</html>